<button (click)="toggle()">Cacher les utilisateurs</button>
<div *ngIf="hidden" id="container">
  <div *ngFor="let data of datas; odd as isOdd">
    <div class="card" *ngIf="isOdd">
      <div class="card__container">
        <div id="name">
          <h2>{{ data.name }}</h2>
        </div>
        <div id="liste">
          <ul>
            <li>Identifiant : <span>{{ data.id }}</span></li>
            <li>Company : <span>{{ data.company.name }}</span></li>
            <li>Website : <span>{{ data.website }}</span></li>
            <li>Phone : <span>{{ data.phone }}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
